@{
    ViewBag.Title = "Areal Leader Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AreaLeaderHomePage</title>

    <style>

        .table, th, td {
            border: 1px solid black;
            padding:20px;
        }

        button {
            border: none;
            background-color: rgb(41 186 44 / 0.82);
            padding: 9px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 40px 460px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        button:hover{
            background-color:rgb(41 186 44 / 1.00)

        }
    </style>
</head>
<body>
    <div>

        <fieldset>


            <div style="background-color:#f5efff; color: black; padding: 20px; margin-top:20px;">
                <legend>Welcome</legend>

                <div>
                    <!--name of asset-->

                    <label for="disabledTextInput" class="form-label">Asset Name</label>
                    <input type="text" class="form-control" placeholder="Asset Name" />


                    <!--discreption "inner styling & separate div"-->

                    <div style="padding-left:500px;margin-top:-80px; ">

                        <label for="disabledTextInput" class="form-label">Descreption</label>
                        <input type="text" class="form-control" />

                    </div>

                    <!--amount of asset-->

                    <label for="disabledTextInput" class="form-label">Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" />

                    <br />

                    <!--upload pic-->

                    <label for="disabledTextInput" class="form-label">Upload Picture</label>
                    <input class="file-uplad-input" type="file" onchange="readURL(this)" accept="Image/*" />

                    <br />
                    <br />

                    <!--local point-->

                    <label for="disabledTextInput" class="form-label">Assign Local Point </label>
                    <input type="text" class="form-control" />

                </div>

                <!--employee's table "inner styling & separate div"-->

                <div style="margin: -220px 40px 60px 480px;">
                    <table>

                        <!-- First row -->
                        <tr>
                            <th>Employee</th>
                            <th>Amount</th>
                            <th>if approved</th>
                        </tr>
                        <!-- 2nd row -->

                        <tr>
                            <td>text</td>
                            <td>text</td>
                            <td>text</td>
                        </tr>

                        <!-- 3rd row -->

                        <tr>
                            <td>text</td>
                            <td>text</td>
                            <td>text</td>
                        </tr>

                    </table>
                </div>

                <!--Button-->

                <button type="button">Submit</button>

            </div>
        </fieldset>
    </div>
</body>
</html>
